# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\IIT\1st YEAR\1st year-Sem 2\Software Development 2\Java\Course Work\CW\w1810216_array-only\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
